<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
            <exclude>./tests/TestCase.php</exclude>
            <exclude>./tests/Middleware/MiddlewareTest.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
